{% extends "blog/base.html" %}

{% block title %}{% endblock %}

{% block content %}
<div class="container">

    <div class="row">

    
    <h1>Log-in</h1>
    <div class="login-form">
        <form action="{% url "blog:login" %}" method="post">
            {{ form.as_p }}
            {% csrf_token %}
            <input type="hidden" name="next" value="{{ next }}" />
            <input type="submit" value="登陆">              
            <button onclick="location.href='{% url "blog:register" %}'" type="button"> 注册 </button>            
        </form>
    </div>
</div>

{% endblock %}
