{% load staticfiles %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    {% block title %}{% endblock %}

    <!-- Bootstrap Core CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{% static 'css/blog-home.css' %}" rel="stylesheet">


    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>
    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{% url 'blog:index' %}">主页</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="{% url 'blog:about_me' %}">关于</a>
                    </li>
                    <li>
                        <a href="{% url 'blog:add' %}">写文章</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Content -->
    <div class="container" style="padding: 20px;"><h1 id="h1-about-me"><a name="About me" class="reference-link"></a><span class="header-link octicon octicon-link"></span>About me</h1><hr>
        <p><strong>玩过辩论，玩过机器人，玩过硬件，玩过软件，现在的我只想安安静静的找份关于python的工作</strong></p>
        <p><strong>也许一切又要从头开始，也许压根没有希望，但还是想在拼一次，人生信条中没有什么是不可能的</strong></p>
        <br>
        <p><strong> 也许你想知道：为什么实习结束后，不打算转正？</strong></p>
        <p><strong> 我想告诉你，实习期间的某一天当我来到公司打开电脑的一瞬间，忽然在想今天什么时候下班，也许我就放弃这份工作了，我不希望我工作的每天都在思考今天什么时候下班？希望能来到一家让我思考今天什么时候上班的公司。不希望今天的我已经能想象到5年后自己，尽管工作轻松，尽管工资满足，但我依然拒绝活成那个我最讨厌的样子。 </strong></p>
        <br>
        <p><strong> 也许你想知道:我能带来什么？</strong></p>
        <p><strong> 四年大学辩论生涯，惨的时候队里只有4个人，一支完整的队伍都快凑不起来了，到现在重邮最强的队伍之一，坚持是其一;往返于各大学校，涉足于各大赛事，参与辩论，不仅为了自己能学到更多，也为了给队伍带来更多，活力是其二;以及对公司简单的技术帮助(不自信ing)，未来呢，希望能给团队打上我自己独特的标签。<p></strong>
        <br>
        <p><strong> 也许你想知道:这个人技术水平到底怎么样？</strong></p>
        <p><strong> 老实来说:自己以前在跟着研究生学长学过python，喜欢使用这样工具，但本科找工作时，基本没有来招python有关的工作，所以来到现在海信，工作之时自己还是在不断学习，熟悉python语言特性。之前没有做过Django有关的工作，自学Django，现在也基本熟悉Django框架。不断学习、不断进步，永远不安于现状，<p></strong><p>
        <hr>
        <h1 id="h1-contact-me"><a name="Contact me" class="reference-link"></a><span class="header-link octicon octicon-link"></span>Contact me</h1><hr>
        <ul>
            <li><strong><a href="https://github.com/sun474473556" title="Github">Github</a></strong></li>
            <li><strong>Email: 474473556@gmail.com</a></strong></li>
        </ul>
        <hr>
        <h1 id="h1-suggest-me"><span class="header-link octicon octicon-link"></span>Suggest to me</h1><hr>
        <form class="form-inline" method="POST">
            {% csrf_token %}
            {% for field in form %}
            {{ field }}
            {% endfor %}
            <br><br>
            <input type="submit" value="Submit" />
        </form>
    </div>


    <!-- Footer -->
    <footer>
        <div class="row">
            <div class="col-lg-12">
                <p style="text-align: center;">浩浩同学的博客</p>
            </div>
            <!-- /.col-lg-12 -->
            <div class="col-lg-12" style="text-align: center;">
                <a href="https://github.com/sun474473556">Github</a>
            </div>

        </div>
        <!-- /.row -->
    </footer>

</body>
</html>

